.root {
  display: block;
  flex-shrink: 0;
}

.text {
  height: 12px;
  border-radius: 4px;
}

.circular {
  width: 40px;
  height: 40px;
  border-radius: 100px;
}

.default {
  background: var(--surface-page, #faf8f6);
}

.focused {
  background: var(--neutral-0, #ffffff);
  opacity: 0.4;
}
